* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #e6e6e6;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
  }
  
  .headercolor{
    background: #c7c7c7;
  }

  .border-3{
    border-width:3px !important;
  }
  /* index */
  
  .navbar-nav {
    flex-direction: row !important;
  }
  
  .nav-color {
    color: black;
  }
  
  .nav-color:hover {
    color: #ee6c4d;
  }
  
  .nav-color:after {
    content: "";
    display: block;
    height: 2px;
    background: #ee6c4d;
    margin-top: 6px;
    opacity: 0;
    transform: translateY(12px);
    transition: all 0.3s ease-in-out;
  }
  
  .nav-color:hover:after {
    transform: translateY(0px);
    opacity: 1;
  }
  
  .top img {
    object-fit: cover;
    height: 700px;
  }
  
  .overlay {
    position: absolute;
  }
  
  .title {
    font-size: 3rem;
  }
  
  .subtitle {
    font-size: 2rem;
  }

  .is-style-letter {
    position: relative;
    max-width: 700px;
    margin: 0 auto 2em;
    padding: 1.5em;
    border: 10px solid transparent;
    border-radius: 4px;
    background: linear-gradient(#f9f9f9, #f9f9f9), repeating-linear-gradient(-45deg,#b9cce5, #b9cce5 3.25%,#fff 3.25%,#fff 4.25%,#f1c3c1 4.25%, #f1c3c1 7.5%,#fff 7.5%,#fff 8.5%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
  }

  .is-style-letter *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
  }

  /* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
    img { max-width: 100%; }
}