{% extends "app/base.html" %} {% block content %}

<div class="receive-view">
  <div class = "bg-light p-4 mb-5">
      <div class = "text-center">
          <p class="mb-3 tex">あなたはこのメッセージを見るまでに・・・</p>
          <p class="mb-3  font-weight-bold tex">{{ elapsed_time }}</p>
          <p class="mb-3 tex">我慢することが出来ました！！</p>
          <p class="mb-3 tex">{{ post_data.name}}さんからのメッセージです</p>
      </div>
      <div class="wp-block-group is-style-letter">
          <div class="wp-block-group__inner-container">
          <p>{{ post_data.message|linebreaksbr }}</p>
          </div>
      </div>
  </div>  
</div> 

{% endblock %}